/* 줄번호 스타일 */
[data-rehype-pretty-code-figure] code {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] [data-line]::before {
  counter-increment: line;
}

[data-line-numbers] > [data-line]::before {
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: #858585;
}
